body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h4 {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

.flatiron {
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.design {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.bottom {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

a {
  color: white;
}
